<form class="form">
    <h3 class="form__title">Выбор формата</h3>
    <div class="bulgy-radios change-cropp-inputs" role="radiogroup" aria-labelledby="bulgy-radios-label">
        <label>
            <input type="radio" name="options" checked />
            <span class="radio"></span>
            <span class="label">10x15</span>
        </label>
        <label>
            <input type="radio" name="options" />
            <span class="radio"></span>
            <span class="label">15x20</span>
        </label>
        <label>
            <input type="radio" name="options" />
            <span class="radio"></span>
            <span class="label">20x30</span>
        </label>
    </div>
    <h3 class="form__title">Выбор рамки</h3>
    <div class="bulgy-radios change-border-inputs" role="radiogroup" aria-labelledby="bulgy-radios-label">
        <label>
            <input value="#fff" type="radio" name="options" checked />
            <span class="radio"></span>
            <span class="label">Белый</span>
        </label>
        <label>
            <input value="#000" type="radio" name="options" />
            <span class="radio"></span>
            <span class="label">Черный</span>
        </label>
    </div>
</form>
<button class="button-primary">Кадрировать</button>


<canvas class="canvas"></canvas>
<div class="output-container"></div>